sudo apt-get update && apt-get upgrade -y

# Main requirements
sudo apt-get install -y \
    python3-dev \
    libpq-dev \
    git \
    redis-server \
    build-essential \
    libssl-dev \
    python-virtualenv \
    python-pip

# For working with images (if using profile photos)
sudo apt-get install -y \
    libjpeg8-dev \
    zlib1g-dev \
    libfreetype6-dev

# For sending emails
sudo apt-get install postfix